[Unit]
Description=Gaia Monitoring

[Service]
User=pi
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/home/pi/gaia/
ExecStart=/home/pi/gaia/venv/bin/python3 run.py
Restart=always

[Install]
WantedBy=multi-user.target
